<ion-header>
  <ion-toolbar>

    <!-- Logo a la izquierda -->
    <ion-buttons slot="start">
      <img src="/assets/logo/61dc37ff-0049-40ad-8d47-b1b0039e4dfd.jpg" alt="Logo" style="height: 40px;" />
    </ion-buttons>

    <!-- Icono casa centrado visualmente -->
    <ion-title *ngIf="isAdmin || isDeveloper">
      <div style="width: 90%; text-align: center;">
        <ion-icon
          name="home-outline"
          style="font-size: 20px; cursor: pointer;"
          (click)="goToHome()">
        </ion-icon>
      </div>
    </ion-title>

    <!-- Botón de salir a la derecha -->
    <ion-buttons slot="end">
      <ion-icon
        name="exit-outline"
        style="font-size: 24px; color: #dc3545; cursor: pointer;"
        (click)="onLogout()">
      </ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
