<app-header></app-header>

<ion-content class="ion-padding">
  <!-- Buscador de CE existente -->
  <form (submit)="buscarCEExistente()" class="mt-10 mb-10">
    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Modelo CE existente</ion-label>
      <ion-input placeholder="Introduce el modelo" [(ngModel)]="modelo" name="modeloBusqueda" required></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Marca CE existente</ion-label>
      <ion-input placeholder="Introduce la marca" [(ngModel)]="marcaBusqueda" name="marcaBusqueda" required></ion-input>
    </ion-item>
    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Marca CE Serie</ion-label>
      <ion-input placeholder="Introduce la marca" [(ngModel)]="serieBusqueda" name="marcaBusqueda" required></ion-input>
    </ion-item>
    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Tipo de máquina</ion-label>
      <ion-select [(ngModel)]="tipoMaquina" name="tipoMaquina" placeholder="Selecciona el tipo" required>
        <ion-select-option value="apiladores">Apiladores</ion-select-option>
        <ion-select-option value="carretillas_diesel">Carretillas Diésel</ion-select-option>
        <ion-select-option value="carretillas_electricas">Carretillas Eléctricas</ion-select-option>
        <ion-select-option value="carretillas_gasolina">Carretillas Gasolina</ion-select-option>
        <ion-select-option value="recogepedidos">Recogepedidos</ion-select-option>
        <ion-select-option value="retractil">Retráctil</ion-select-option>
        <ion-select-option value="todo_terreno">Todo Terreno</ion-select-option>
        <ion-select-option value="transpaleta_electrica">Transpaleta Eléctrica</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit">Buscar CE</ion-button>
  </form>

  <!-- Formulario para crear máquina con CE -->
  <form (submit)="crearMaquinaConCE()" *ngIf="ceEncontrado" class="mt-10 mb-10">
    <ion-item style="margin-bottom: 16px;">
    <ion-label position="stacked" style="color: #01BF73;">Tipo de máquina</ion-label>
      <ion-select [(ngModel)]="tipoMaquina" name="tipoMaquina" placeholder="Selecciona el tipo" required>
      <ion-select-option value="apiladores">Apiladores</ion-select-option>
      <ion-select-option value="carretillas_diesel">Carretillas Diésel</ion-select-option>
      <ion-select-option value="carretillas_electricas">Carretillas Eléctricas</ion-select-option>
      <ion-select-option value="carretillas_gasolina">Carretillas Gasolina</ion-select-option>
      <ion-select-option value="recogepedidos">Recogepedidos</ion-select-option>
      <ion-select-option value="retractil">Retráctil</ion-select-option>
      <ion-select-option value="todo_terreno">Todo Terreno</ion-select-option>
      <ion-select-option value="transpaleta_electrica">Transpaleta Eléctrica</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Modelo</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.modelo" name="modeloNuevaMaquina" placeholder="Introduce el modelo" required></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Marca</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.marca" name="marcaNuevaMaquina" placeholder="Introduce la marca" required></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Serie</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.serie" name="serie" placeholder="Introduce la serie"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Foto</ion-label>
      <input type="file" (change)="onFotoSeleccionada($event)" accept=".jpg,.jpeg,.png">
    </ion-item>

    <ion-item>
      <ion-label position="stacked">URL hidráulico</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_hidraulico" name="URL_hidraulico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">URL eléctrica</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_electrica" name="URL_electrica"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">URL técnico</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_tecnico" name="URL_tecnico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">URL recambio</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_recambio" name="URL_recambio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">URL operario</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_operario" name="URL_operario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">URL display</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_dysplay" name="URL_dysplay"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Crear Máquina</ion-button>
  </form>
</ion-content>
