<app-header></app-header>

<ion-content class="ion-padding">
  <ion-title class="ion-text-center" style="color: #01BF73;">
    Por favor introduce los datos de la nueva máquina
  </ion-title>

  <form class="mt-10 mb-10" (ngSubmit)="crearCaja(form)" #form="ngForm">
    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Tipo de máquina</ion-label>
      <ion-select [(ngModel)]="tipoMaquina" name="tipoMaquina" placeholder="Selecciona el tipo" required>
        <ion-select-option value="apiladores">Apiladores</ion-select-option>
        <ion-select-option value="carretillas_diesel">Carretillas Diésel</ion-select-option>
        <ion-select-option value="carretillas_electricas">Carretillas Eléctricas</ion-select-option>
        <ion-select-option value="carretillas_gasolina">Carretillas Gasolina</ion-select-option>
        <ion-select-option value="recogepedidos">Recogepedidos</ion-select-option>
        <ion-select-option value="retractil">Retráctil</ion-select-option>
        <ion-select-option value="todo_terreno">Todo Terreno</ion-select-option>
        <ion-select-option value="transpaleta_electrica">Transpaleta Eléctrica</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Modelo</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.modelo" name="modelo" placeholder="Introduce el modelo" required></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Marca</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.marca" name="marca" placeholder="Introduce la marca" required></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Serie</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.serie" placeholder="Introduce la serie" name="serie"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Foto</ion-label>
      <input type="file" #fileInput (change)="onFotoSeleccionada($event)" accept="image/png, image/jpeg" />
      <div *ngIf="previewFoto" style="text-align:center; margin: 10px 0;">
        <img [src]="previewFoto" alt="Vista previa foto" style="max-width: 100%; height: auto; border-radius: 8px;">
      </div>
    </ion-item>

    <ion-item *ngIf="tipoMaquina === 'carretillas_diesel'" style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">Motor</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.motor" placeholder="Introduce el motor" name="motor"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">URL hidráulico</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_hidraulico" placeholder="Introduce la URL hidráulico" name="URL_hidraulico"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">URL eléctrica</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_electrica" placeholder="Introduce la URL eléctrica" name="URL_electrica"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">URL técnico</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_tecnico" placeholder="Introduce la URL técnico" name="URL_tecnico"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">URL recambio</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_recambio" placeholder="Introduce la URL recambio" name="URL_recambio"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">URL operario</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_operario" placeholder="Introduce la URL operario" name="URL_operario"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73;">URL display</ion-label>
      <ion-input [(ngModel)]="nuevaMaquina.URL_display" placeholder="Introduce la URL display" name="URL_display"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Crear Máquina</ion-button>
  </form>
</ion-content>
