<app-header></app-header>

<ion-content class="ion-padding">
  <ion-title class="ion-text-center">
    Por favor introduce los datos de la nueva máquina
  </ion-title>

  <form class="mt-10 mb-10">
    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73; padding-bottom: 8px; font-size: 20px;">Modelo</ion-label>
      <ion-input placeholder="Introduce el modelo" name="modelo" required></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73; padding-bottom: 8px; font-size: 20px;">Marca</ion-label>
      <ion-input placeholder="Introduce el marca" name="marca"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73; padding-bottom: 8px; font-size: 20px;">Serie</ion-label>
      <ion-input placeholder="Introduce el serie" name="serie"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73; padding-bottom: 8px; font-size: 20px;">Foto</ion-label>
      <ion-input placeholder="Introduce el foto" name="foto"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73; padding-bottom: 8px; font-size: 20px;">URL</ion-label>
      <ion-input placeholder="Introduce el URL" name="URL"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 16px;">
      <ion-label position="stacked" style="color: #01BF73; padding-bottom: 8px; font-size: 20px;">CE</ion-label>
      <ion-input placeholder="Introduce el CE" name="CE"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Crear Máquina</ion-button>
  </form>

</ion-content>
