<app-header></app-header>
<ion-content>
  <div style="display: flex; justify-content: center; align-items: center; height: calc(100vh - 72px); flex-direction: column;">
    <ion-button *ngIf="showVgServicies" style="--background: #006d57; --color: white;" (click)="changeApplicationVG()" expand="block">
      VgServicies
    </ion-button>
    <ion-button *ngIf="showCcAgerec" style="--background: #006d57; --color: white;" (click)="changeApplicationACC()" expand="block">
      CCAGEREC
    </ion-button>
  </div>
</ion-content>

