<ion-header>
  <ion-toolbar>
    <ion-title>Cajas Conexión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Certificado</ion-label>
    <ion-input [(ngModel)]="nuevaCaja.certificado"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="crearCaja()">Crear Caja</ion-button>

  <ion-text color="primary" *ngIf="mensaje">
    <p>{{ mensaje }}</p>
  </ion-text>

  <ion-list>
    <ion-item *ngFor="let caja of cajas">
      <ion-label>
        <h2>{{ caja.certificado }}</h2>
        <p>{{ caja.ipinterno }}</p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarCaja(caja.certificado)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
