<ion-content class="ion-padding register-content">
  <div class="form-container">
    <h2 class="title">Crear Cuenta</h2>

    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <ion-item class="custom-item">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" name="nombre" required placeholder="Ingresa tu nombre"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Primer Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="apellido1" name="apellido1" required placeholder="Ingresa tu primer apellido"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Segundo Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="apellido2" name="apellido2" placeholder="Ingresa tu segundo apellido"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Usuario (Email)</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required placeholder="Ingresa tu correo"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Repite Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required placeholder="Repite tu contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" class="btn-primary" type="submit">
        Aceptar
      </ion-button>

      <ion-button expand="block" shape="round" fill="outline" class="btn-outline" routerLink="/login">
        Volver al Login
      </ion-button>
    </form>
  </div>
</ion-content>
