<ion-header>
  <ion-toolbar>
    <ion-title>Developer Panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-spinner *ngIf="loading" name="crescent" class="spinner-center"></ion-spinner>

  <ion-item *ngIf="!loading">
    <ion-label>Selecciona un usuario</ion-label>
    <ion-select [(ngModel)]="id">
      <ion-select-option *ngFor="let user of usuarios" [value]="user.id">
        {{ user.name }} ({{ user.email }})
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="loginComoUsuarioSeleccionado()" [disabled]="loading">
    Login como usuario seleccionado
  </ion-button>

  <ion-item *ngIf="!loading">
    <ion-label position="floating">Nuevo correo</ion-label>
  </ion-item>
  <ion-text color="danger" *ngIf="mensaje">
    <p>{{ mensaje }}</p>
  </ion-text>
</ion-content>
